/*
 * As described on http://davidwalsh.name/css-flip:
 * these CSS directives control widgets flipping.
 */

/* entire container, keeps perspective */
.widget-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}
/* flip the pane when flipped */
.widget-container.flipped .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.widget-front, .widget-back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.widget-front {
    z-index: 2;
}

/* back, initially hidden pane */
.widget-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}